@inherits LayoutComponentBase

<div class="container">
    <div class="row">
        <div class="col-12">
            <h1 class="text-center">
                Santa's Reindeer Guidance & Delivery System
            </h1>
            <h2 class="text-center">
                System Status
            </h2>
        </div>
    </div>
    <div class="row">
        <div class="col-12">
          @Body  
        </div>
    </div>
</div>